@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.fw-bolder {
  font-weight: bolder !important;
}

@media (min-width: 1200px) {
  .display-5 {
    font-size: 3rem;
  }
}

.display-5 {
  font-size: calc(1.425rem + 2.1vw);
  font-weight: 300;
  line-height: 1.2;
}

.color-primary {
  color: var(--color-black);
}

button:not(:disabled) {
  cursor: pointer;
}

.contact-button {
  border: none;
  border-radius: 25px;
  justify-content: center;
  min-width: 145px;
  outline: none;
  padding: 0.5rem 1.5rem;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}

button,
select {
  text-transform: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

button {
  border-radius: 0;
}
.me-2 {
  margin-right: 0.5rem !important;
}

.count-img {
  width: 90% !important;
}

.download-now {
  background-color: #075358 !important;
  cursor: pointer;

  border-radius: 50px 0;
  border: 3px solid #1c3e35;
  background-size: 200% 100%;
  padding: 0.5rem;
  color: #1c3e35;
  /* transition: all 0.3s ease; */
}
/* 
.download-now:hover {
  background: linear-gradient(97.51deg, #1c3e35 -39.91%, #4aa48c 117.67%);
  color: #ffff;
  border: 3px solid #4aa48c;
  border-ra/dius: 0 50px ;} */
.banner-text-section {
  width: 520px;
}

.header-text {
  font-weight: 600;
}

.header-button {
  display: flex;
  /* justify-content: space-around; */
  margin-top: 30px;
}

button.download-button {
  /* margin: 0 15px 0 0; */
  padding: 5px 24px;
}

.banner-text-section h1 {
  font-weight: 600;
  font-size: 42px;
  line-height: 60px;
  text-transform: capitalize;
  /* letter-spacing: 0.1rem; */
  /* margin-left: 30px; */
}

.images-main-herosection {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.multi-image-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.multi-image-main p {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #717171;
}

.multi-image-main h1 {
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

.contact-btn .contact-button-cll {
  border: 2px solid #0c6ff0;
  width: 250px;
  height: 50px;
  border-radius: 50px;
  padding: 10px;
  background: none;
  text-align: center;
  transition: all 0.3s ease;
}

.contact-btn .contact-button-cll:hover {
  background-color: #0c6ff0;
}

.contact-btn .contact-button-whp {
  width: 250px;
  height: 50px;
  border-radius: 50px;
  padding: 10px;
  border: 2px solid #25d366;
  text-align: center;
  background: none;
  transition: all 0.3s ease;
}

.contact-btn .contact-button-whp:hover {
  background-color: #25d366;
}

.contact-btn button a {
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  line-height: 30px;
  color: #000000;
}

.herosection-images {
  height: 50px;
  width: 50px;
}

.parent-class {
  text-align: left;
  margin: 0 auto;
  padding: 56px;
}

.second-parent {
  display: flex;
  align-items: center;
}
.custom-text {
  font-weight: 500;
  font-size: 1.8rem;
  color: #2c3e50;
}
.lead {
  font-size: 3rem;
  color: #34495e;
  font-family: poppins, sans-serif;
  font-weight: 600;
}

@media (max-width: 575.98px) {
  .lead {
    font-size: 2rem;
  }
  .second-parent {
    flex-direction: column;
    align-items: center;
  }
  .download-button {
    width: 90%;
    justify-content: center;
  }
  .custom-text {
    font-size: 1.2rem;
  }
  .button-container {
    top: 4px;
    position: absolute;
    display: flex;
    justify-content: center;
    /* border:  4px solid white; */
    border-radius: 10px;
    margin-top: 28px;
    right: 30px;
  }
}

/* .btn-custom {
  background-color: #28a745;
  color: white;
}
.btn-custom:hover {
  background-color: #218838;
} */

a.download-button.new-btn {
  text-decoration: none;
  margin: 5px 12px;
  padding: 6px 30px;
  color: #fff !important;
}
.contact-info {
  font-weight: 500;
  font-size: 1.4rem;
  color: #000000;
}

.contact-number {
  font-weight: 400;
  color: #34495e;
}

.images-main-herosection {
  background: linear-gradient(
    360deg,
    rgba(163, 218, 221, 0.2) 2.11%,
    rgba(94, 189, 196, 0.2) 96.71%
  );
}
