.button-sec {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (min-width: 992px) and (max-width: 1024px) {
  .banner-text-section h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;

    text-transform: uppercase;
    /* letter-spacing: 0.2rem; */
    margin-left: 30px;
  }
}

@media (min-width: 992px) {
  .link-hover-effect {
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    position: relative;
  }

  .link-hover-effect::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background: linear-gradient(
      90deg,
      #075358,
      #075358
    ); /* Tweak the color if needed */
    border-radius: 0;
    transition: all 0.5s ease-in-out;
  }

  .link-hover-effect:hover::before {
    width: 100%;
    border: 50%;
  }

  .main-contain-row {
    margin-top: 50px;
  }
  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .custome-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .nav-link {
    font-weight: 400;
    transition: transform 0.3s ease-in-out;
    font-size: 24px;
    line-height: 29.76px;
    color: var(--color-white);
  }

  .download-btn-main button {
    width: 199px;
    height: 48px;
    border-radius: 50px;
    background-color: var(--color-white);
    color: var(--rich-color);
    border: none;
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .nav-link {
    font-weight: 400;

    font-size: 20px;
    line-height: 27px;
    padding-top: 15px;
    transition: transform 0.3s ease-in-out;
  }
  #navbarSupportedContent {
    background: #fff;
    border-radius: 12px;
    box-shadow: 20px 40px 60px #444343, -20px 40px 60px #ffeed4;
    color: #000;
    padding: 0 10px 10px;
    position: absolute;
    right: 14px;
    text-align: center;
    top: 68px;
    transition: 0.3s ease-in-out;
    width: 239px;
    z-index: 1;
    height: 171px;
  }
  .custome-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .download-btn-main button {
    width: 199px;
    height: 48px;
    border-radius: 50px;
    background-color: var(--color-white);
    color: var(--rich-color);
    border: 1px solid var(--rich-color);
    margin-top: 0px;
  }
  button.navbar-toggler.navbar-toggler-btn {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .banner-text-section h1 {
    font-weight: 700;
    font-size: 26px;
    line-height: 60px;
    text-transform: uppercase;
    /* letter-spacing: 0.2rem; */
    margin-left: 65px;
    text-align: center;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .header-container {
    margin-top: -13px !important;
  }
  .banner-text-section h1 {
    font-weight: 700;
    font-size: 26px;
    line-height: 60px;
    text-transform: uppercase;
    /* letter-spacing: 0.2rem; */
    margin-left: 65px;
    text-align: center;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .banner-text-section h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 60px;
    text-transform: uppercase;
    /* letter-spacing: 0.2rem; */
    margin-left: 65px;
    text-align: center;
  }
  .custom-text {
    font-size: 1.3rem;
  }

  .lead {
    font-size: 1.2rem;
  }

  a.download-button.new-btn {
    margin: 1px 7px;
    padding: 7px 8px;
    font-size: 17px;
    overflow: visible;
  }

  .contact-info {
    font-weight: 500;
    font-size: 1.4rem;
    color: #000000;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  .banner-left {
    margin: 10px;
  }
  .banner-text-section h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 60px;
    text-transform: uppercase;
    /* letter-spacing: 0.2rem; */
    margin-left: 65px;
    text-align: center;
  }

  .custom-text {
    font-size: 1.2rem;
  }

  .lead {
    font-size: 1.9rem;
  }

  .contact-info {
    font-size: 1.1rem;
  }

  a.download-button.new-btn {
    margin: 1px 7px;
    padding: 7px 8px;
    font-size: 15px;
    overflow: visible;
  }

  .contact-info {
    font-weight: 500;
    font-size: 1rem;
    color: #000000;
  }
}
@media (min-width: 460px) and (max-width: 768px) {
  .Card_Size {
    width: 45% !important;
  }
  .game-rate-card-cust h1 {
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
  }
  .game-rate-card-cust h2 {
    font-size: 20px;
    line-height: 22px;
    font-weight: 400;
  }
  .faq-title {
    font-weight: 500;
    font-size: 17px !important;
    line-height: 25px !important;
  }
  .description-text {
    color: #fff;
    font-weight: 400;
    font-size: 15px !important;
    line-height: 25px !important;
  }
  .footer-container {
    background-color: #ffffff;
    color: black;
    padding: 0rem !important;
  }

  .footer-image {
    width: 40%;
  }
  .footer-img-3 {
    height: 40px;
    width: 40px;
    margin-top: 15px;
  }
  .footer-text {
    text-align: justify;
    line-height: 30px;
    font-size: 15px !important;
    padding-top: 10px;
  }
  .footer-para-test {
    padding: 10px 0px;
    text-align: justify;
    line-height: 30px;
    font-size: 15px !important;
  }
  .copyright-text {
    font-size: 12px !important;
  }
  .footer-terms-text {
    font-size: 15px !important;
  }
  .charts-games-title {
    color: #000000;
    font-weight: 700;
    font-size: 30px !important;
    line-height: 50px;
    text-align: center;
    margin-bottom: 15px;
  }
  .charts-games h4 {
    color: #1c3e35;
    font-weight: 700;
    font-size: 20px !important;
    line-height: 30px;
    text-align: center;
  }
  .game-rate-container {
    padding: 10px 20px 20px 20px;
    /* background: #ffffff; */
    /* box-shadow: 0px 1px 14px rgba(0, 0, 0, 0.25); */
    /* border-radius: 20px; */
    box-shadow: inset;
  }
  .rich-game-title {
    font-size: 30px;
  }

  .button-container {
    top: 4px;
    position: absolute;
    display: flex;
    justify-content: center;
    border: 4px solid white;
    border-radius: 10px;
    margin-top: 109px;
    right: 17px;
  }
}

@media (min-width: 400px) and (max-width: 500px) {
  .banner-text-section h1 {
    font-weight: 700;
    /* font-size: 25px; */
    /* line-height: 50px; */
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-left: 15px;
  }
  .contact-btn .contact-button-whp {
    width: 150px;
    height: 40px;
    border-radius: 50px;
    padding: 5px;
    border: 2px solid #25d366;
    text-align: center;
    background: none;
  }
  .contact-btn .contact-button-cll {
    border: 2px solid #0c6ff0;
    width: 150px;
    height: 40px;
    border-radius: 50px;
    padding: 5px;
    background: none;
    text-align: center;
  }

  .contact-btn button a {
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    line-height: 15px;
    color: #000000;
  }
  .rich-game-title {
    font-size: 20px;
    line-height: 40px;
  }
  .rich-game-title-text {
    font-weight: 450;
    font-size: 15px;
    line-height: 20px;
  }
  .game-icons-img {
    height: 40px;
    width: 40px;
  }
  .game-rate-container {
    padding: 10px 20px 20px 20px;
    background: #ffffff;
    box-shadow: 0px 1px 14px rgba(0, 0, 0, 0.25);
    /* border-radius: 10px; */
    box-shadow: inset;
  }
  .Card_Size {
    width: 100% !important;
  }
  .faq-title {
    font-weight: 500;
    font-size: 17px !important;
    line-height: 25px !important;
  }
  .description-text {
    color: #fff;
    font-weight: 400;
    font-size: 15px !important;
    line-height: 25px !important;
  }
  .footer-image {
    width: 60%;
  }
  .footer-text {
    text-align: justify;
    line-height: 30px;
    font-size: 15px !important;
    padding-top: 10px;
  }
  .footer-para-test {
    padding: 10px 0px;
    text-align: justify;
    line-height: 30px;
    font-size: 15px !important;
  }
  .copyright-text {
    font-size: 15px !important;
  }
  .footer-terms-text {
    font-size: 15px !important;
  }
  .custom-toggler .navbar-toggler-icon {
    margin-top: 35px;
  }
  .footer-img-sec {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 0px;
  }

  .footer-left-sec {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: center;
  }
}

@media (max-width: 399px) {
  .banner-text-section {
    width: 245px;
  }
  .banner-text-section h1 {
    font-weight: 700;
    font-size: 19px;
    line-height: 30px;

    text-transform: uppercase;
    /* letter-spacing: 0.1rem; */
    margin-left: 0px;
    text-align: center;
  }
  .herosection-images {
    height: 30px;
    width: 30px;
  }
  .multi-image-main p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #717171;
  }
  .multi-image-main h1 {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #000000;
  }
  .banner-img {
    border-radius: 30px;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    width: auto;
    height: 16rem;
  }
  .contact-btn .contact-button-whp {
    width: 130px;
    height: 30px;
    border-radius: 50px;
    padding: 0px;
    border: 2px solid #25d366;
    text-align: center;
    background: none;
  }
  .contact-btn .contact-button-cll {
    border: 2px solid #0c6ff0;
    width: 130px;
    height: 30px;
    border-radius: 50px;
    padding: 0px;
    background: none;
    text-align: center;
  }
  .contact-btn button a {
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    line-height: 15px;
    color: #000000;
  }
  .game-rate-container {
    padding: 10px 20px 20px 20px;
    /* background: #ffffff; */
    /* box-shadow: 0px 1px 14px rgba(0, 0, 0, 0.25); */
    /* border-radius: 10px; */
    box-shadow: inset;
  }
  .Card_Size {
    width: 100% !important;
  }
  .rich-game-title {
    font-size: 15px;
    line-height: 30px;
  }
  .rich-game-title-text {
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
  }
  .game-icons-img {
    height: 30px !important;
    width: 30px !important;
  }
  .game-rate-card-cust h1 {
    font-size: 18px !important;
    line-height: 25px !important;
    font-weight: 400;
  }
  .game-rate-card-cust h2 {
    font-size: 18px !important;
    line-height: 22px !important;
    font-weight: 400;
  }
  .faq-title {
    font-weight: 500;
    font-size: 17px !important;
    line-height: 25px !important;
  }
  .description-text {
    color: #fff;
    font-weight: 400;
    font-size: 15px !important;
    line-height: 25px !important;
  }

  .footer-text {
    text-align: justify;
    line-height: 30px;
    font-size: 15px !important;
    padding-top: 10px;
  }
  .footer-para-test {
    padding: 10px 0px;
    text-align: justify;
    line-height: 30px;
    font-size: 12px !important;
  }
  .copyright-text {
    font-size: 12px !important;
  }
  .footer-terms-text {
    font-size: 15px !important;
  }
  .footer-img-sec {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 0px;
  }
  .footer-img-sec img {
    width: 100px !important;
  }
  .footer-left-sec {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: center;
  }
  .custom-toggler .navbar-toggler-icon {
    margin-top: 35px;
  }

  .contact-info {
    font-size: 1.2rem !important;
  }

  .parent-class {
    text-align: center;
    margin: 0 auto;
    padding: 26px 2px;
  }
  .custom-text {
    font-weight: 500;
    font-size: 1.6rem;
    color: #2c3e50;
  }
  .lead {
    font-size: 2.1rem;
    color: #34495e;
    font-family: poppins, sans-serif;
    font-weight: 600;
  }

  a.download-button.new-btn {
    margin: 1px 7px;
    padding: 7px 8px;
    font-size: 15px;
    overflow: visible;
    color: #fff !important;
  }

  
  .second-parent {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button-container {
    top: 14px;
    position: absolute;
    display: flex;
    justify-content: center;
    /* border: 4px solid white; */
    border-radius: 10px;
    margin-top: 102px;
    right: 30px;
  }

  .rich-game-title {
    font-size: 19px !important;
  }

  .charts-games {
    width: 100% !important;
  }
}

.custom-toggler .navbar-toggler-icon {
  margin-top: 35px;
}

@media (min-width: 769px) {
  .footer-img-3 {
    height: 50px;
    width: 50px;
    margin-top: 15px;
  }
}

@media (min-width: 459px) and (max-width: 991px) {
  .footer-img-sec img {
    width: 120px !important;
  }
}

@media (max-width: 320px) {
  .footer-last-content p {
    font-size: 10px !important;
  }
  .footer-para-test {
    margin-left: 0px;
    font-size: 11px !important;
  }

  .button-container {
    margin-top: 119px;
  }
}

@media (max-width: 768px) {
  .footer-btn-scroll {
    margin-top: 10px;
  }
}
