@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

*,
:after,
:before {
  box-sizing: border-box;
}

*,
.row {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: "Libre Baskerville", serif, "Urbanist", sans-serif;
}

div {
  display: block;
}

body {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  background-color: #fff;
  background-color: var(--bs-body-bg);
  color: #212529;
  color: var(--bs-body-color);
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue,
    Noto Sans, Liberation Sans, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-family: var(--bs-body-font-family);
  font-size: 1rem;
  font-size: var(--bs-body-font-size);
  font-weight: 400;
  font-weight: var(--bs-body-font-weight);
  line-height: 1.5;
  line-height: var(--bs-body-line-height);
  margin: 0;
  text-align: var(--bs-body-text-align);
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.pt-4 {
  padding-top: 1.5rem !important;
}

.banner-img {
  border-radius: 30px;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  width: auto;
  height: 25rem;
  overflow-clip-margin: content-box;
  overflow: clip;
  aspect-ratio: auto 680 / 1394;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-center {
  justify-content: center !important;
}

.d-flex {
  display: flex !important;
}

.count-img {
  width: -webkit-fill-available;
}

img,
svg {
  vertical-align: middle;
}

.move-color {
  /* animation: gradientAnimation 5s linear infinite; */
  /* background: #1c3e35; */
  background: #1c3e35;
  color: #fff;
  cursor: pointer !important;
  background-size: 200% 100%;
  border: 2px solid;
  border-radius: 50px;
  margin: auto;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 10px;
  position: relative;
  -webkit-animation: pulse 1.7s infinite;
  transition: box-shadow 1.7s ease; /* Darker green on hover */
  /* animation: borderColorChange 3s linear infinite;  */
}
@media (max-width: 575.98px) {
  .mb-0.font-400.curser-pointer {
    font-size: 1.2rem;
  }
  .move-color {
    gap: 16px;
  }
}
@keyframes borderColorChange {
  0% {
    border-color: #3498db; /* Blue */
  }
  25% {
    border-color: #e74c3c; /* Red */
  }
  50% {
    border-color: #2ecc71; /* Green */
  }
  75% {
    border-color: #f39c12; /* Yellow */
  }
  100% {
    border-color: #3498db; /* Blue again */
  }
}
@keyframes upDown {
  0% {
    transform: translateY(0); /* Initial position */
  }
  50% {
    transform: translateY(-5px); /* Move up */
  }
  100% {
    transform: translateY(0); /* Return to initial position */
  }
}
.move-color:hover {
  background-color: #1c3e35;
  color: #fff;
  border-color: 5px solid #000;
  transition: background 0.8s ease, fill 0.8s ease; /* Darker green on hover */
}
.download-icon {
  padding: 10px;
  background-color: #fff;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  /* animation: upDown 2s ease-in-out infinite; */
}
.custom-color {
  color: #1c3e35;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 10px 20px rgba(28, 62, 53, 0.3);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 10px 20px rgba(28, 62, 53, 0.3);
  }
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.ms-4 {
  margin-left: 1.5rem !important;
}

.fa-2x {
  font-size: 2rem !important;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 576px) {
  .main-contain-row {
    margin-top: 0px;
  }
  .banner-img {
    margin: 0px;
    margin-top: -40px;
  }
  .banner-img {
    border-radius: 30px;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    width: auto;
    height: 20rem;
    overflow-clip-margin: content-box;
    overflow: clip;
    aspect-ratio: auto 680 / 1394;
  }
}

@media (max-width: 767px) {
  .main-contain-row {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 414px) {
}

.line {
  font-size: 32px;
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .line {
    font-size: 24px;
    display: inline-block;
  }
}

@media screen and (max-width: 576px) {
  .line {
    font-size: 20px;
    display: inline-block;
  }
}

.banner-left {
  padding: 20px;
  margin: 50px 0;
}

@media screen and (max-width: 576px) {
  .banner-left {
    padding: 10px;
    margin: 10px 0;
  }
}

@media screen and (max-width: 1200px) {
  .banner-left {
    margin: 2rem 0;
  }
}

.button-container_3 {
  /* height: 65px;
  width: 170px;
border:  5px solid white;
position: relative;
border-radius: 15px; */
}
.button-container_2 {
  /* height: 55px;
  width: 160px;
  background: linear-gradient(97.51deg, #1c3e35 -39.91%, #4aa48c 117.67%);

  position: relative;
border-radius: 10px; */
}

.download-btn-main-12 {
  display: flex;
  margin-top: 40px;
}

.button-container {
  top: 4px;
  position: absolute;
  display: flex;
  justify-content: center;
  /* border:  4px solid white; */
  border-radius: 10px;
  margin-top: 28px;
  right: 30px;
}

.download-button {
  /* background: linear-gradient(97.51deg, #1c3e35 -39.91%, #4aa48c 117.67%); */

  color: white;
  border: none;
  padding: 2px 10px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.download-button:hover {
  background-color: #45a049; /* Darker green on hover */
}

/* .download-button i.icon {
  margin-left: 10px;
  font-size: 20px;
} */

.test_image {
  height: 18px !important;
}

.download-app {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  position: relative;
}

.right-arrow {
  animation: moveRight 0.5s infinite alternate;
  position: relative;
}

.left-arrow {
  animation: moveLeft 0.5s infinite alternate;
  position: relative;
}

@keyframes moveRight {
  0% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0px);
  }
}
